<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons class="car" slot="end">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-buttons>
    <ion-title> HouseMotors </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides class="slide" pager="false"  [options]="slideOpts">
    <ion-slide>
      <p>GSX-S750A</p>
      <img src="https://u.motoscdn.com.br/websites/CDHSQG/pages/OHAZOJRM/07QOPPOLZZI2/image/9065/conversions/GSX-S750ZAM1_action5-desktop.jpg?v=47a6209f">
    </ion-slide>
    <ion-slide>
      <p>V-STROM 1050 XT</p>
      <img src="https://u.motoscdn.com.br/websites/CDHSQG/pages/PIGZXNN1/CJ6VGRZXKYPR/image/7606/13.png">
    </ion-slide>
    <ion-slide>
      <p>GSX-S1000A</p>
      <img src="https://u.motoscdn.com.br/websites/CDHSQG/pages/ZMPAMVBV/AH7M1NUGA6NT/image/4951/conversions/GSX-S1000AL8_0003_Layer-4-desktop.jpg?v=d0196338">
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row>
     <ion-col>
      <ion-button class="btn-meio" color="tertiary" >Cadastre-se</ion-button>
        <ion-button class="btn-meio" color="tertiary" >Escolha a moto ideal para voçê</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button class="btn-meio" color="secondary" > Fazer Login</ion-button>
      </ion-col>
      <ion-col >
        <ion-button class="btn-meio" color="danger" >Sobre a HouseMotors</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-slides class="slide" pager="false"  [options]="slideOpts">
   
    <ion-slide>
      <img src="https://www3.yamaha-motor.com.br/file/v3369709233373823395/general/nossahistoria.faixa8.seguranca.desktop.jpg">
      <div class="historia">
      </div>
    </ion-slide>
   
  </ion-slides>

  <ion-footer collapse="fade">
    <ion-toolbar>
      <p style="text-align:center;">Cauã Furquim da costa</p>
    </ion-toolbar>
  </ion-footer>
</ion-content>

