.slide {
    margin: 15px;
    border-radius: 10px;
    // border: 2px solid white;

    .historia{
        position: absolute;
        margin: 10px;
    }
    
}

ion-slide {
    flex-direction: column;
}

.btn-valor{
    margin: 15px 0;
    height: 40px;
    width: 80%;
    font-size: 20px;
    font-weight: 700;
}

ion-grid{
    ion-row{
        ion-col{
            margin: 3px;
            // border: 1px solid white;
            border-radius: 10px;
            text-align: center;
        }
    }
}

.car {
    margin-right: 10px;
    font-size: 25px;
}

.btn-meio {
    width: 100%;
}
